@charset "utf-8";
/* CSS Document */

body,ul,li,ol,h1,h2,h3,h4,h5,h6,p,img,a,table,tr,td,div{ margin:0; padding:0;}
body{
	background:#F7F7F7;}
.top_1{
	overflow:hidden;
	float:left;
	background:#1E89E0;
	width:100%;
	height:60px;;}
.top_2{
	margin-left:67px;
	float:left;}
.top_3{
	float:left;
	height:100%;}
.top_3 ul{
	list-style:none;
	}
.top_3 ul li{
	float:left;}
.top_3 a{
	text-decoration:none;
	display:block;
	line-height:60px;
	padding-left:35px;
	padding-right:35px;
	color:#FFF;
	}
.top_3 a:hover{
	background:#006BC7;
	}

.top_4{
		margin-left:270px;
		float:left;
		height:100%;
	}
.top_4 ul{
	list-style:none;
	}
.top_4 ul li{
	float:left;
	}
.top_4 a{
	text-decoration:none;
	display:block;
	color:#D2E7F9;
	font-size:14px;
	line-height:60px;
	padding-left:11px;
	padding-right:11px;}
.top_4 a:hover{
	color:#FFF;}
.img1{
	float:left;
	margin-top:15px;}
.img2{
	float:left;
	margin-top:15px;}
.top_5{
	float:left;
	height:100%;
	font-size:14px;
	line-height:60px;
	margin-left:80px;
	color:#FFF;}
.img3{
	float:right;
	margin-top:15px;
	}


.text1{
	margin-left:65px;
	color:#999999;
	font-size:12px;
	float:left;}
.text2{
	font-size:14px;
	float:left;}
.text3{
	margin-left:10px;
	float:left;
	font-size:14px;
	color:#00A2E6;}
.text3 a{
	text-decoration:none;
	color:#00A2E6;}
.input1{
	float:left;
	margin-left:550px;
	border:1px  #CCC solid;
	height:60%;
	margin-top:10px;
	}
.input2{
	float:left;
	margin-top:1px;
	
}
.input3{
	float:left;
	margin-top:9px;}
.input4{
	height:25px;
	border:1px;
	width:300px;}
.top_8{
	background:#039;
	width:1178px;
	margin-left:65px;
	margin-top:10px;
	}
.content_1{
	display:inline-block;
	margin-left:995px;
	}
.content{
	width:1178px;
	margin-left:65px;}
.content_2{
	clear:left;
	border-top:2px solid #CCC;
	bborder-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	height:58px;
	background:#FFF;
	}
.content_3{
	color:#666;
	margin-top:14px;
	float:left;}
.content_4{
	margin-top:12px;
	float:left;}
.content_4 ul{
	list-style:none;}
.content_4 ul li{
	float:left;}
.content_4 a{
	text-decoration:none;
	display:block;
	margin-left:10px;
	padding:5px 10px 5px 10px;
	font-size:14px;
	color:#666;
	background:#FFF;}
.content_4 a:hover{
	background:#F6F6F6;}
.content_5{
	clear:left;
	background:#F00;
	border:1px solid #CCC;
	margin-top:20px;
	width:1178px;}
.content_6{
	height:140px;
	width:287px;
	float:left;
	border-bottom:1px #CCC solid;
	background:#FFF;
	padding-top:25px;
	padding-left:6px;
	}
.content_6:hover{
	background:#F5F5F5;
	cursor:pointer;}
.text4{
	margin-top:20px;
	color:#999;
	margin-left:10px;
	font-size:12px;}
.content_7{
	float:left;}
.content_8{
	float:left;
	display:inline-block;
	margin-left:15px;
	}
.text4{
	clear:left;
	margin-top:85px;}
.text5{
	font-size:16px;
	color:#0089DC;
	font-weight:bold;}
.img4{
	float:left;
	overflow:hidden;
	}
.text6{
	margin-top:5px;}
.text8{
	float:left;
	color:#999;
	font-size:14px;
	margin-left:10px;
	}
.text7{
	font-size:13px;
	color:#999;
	margin-top:30px;}
.img5{
	margin-top:10px;}
.bottom1{
	background:#F00;}
.content_9{
	background:#EFEFEF;
	text-align:center;
	font-size:20px;
	color:#666;
	padding-bottom:10px;
	padding-top:10px;
	}
.content_10{
	float:left;}
.content_10 ul{
	list-style:none;}
.content_10 a{
	text-decoration:none;
	color:#999;
	margin-top:8px;
	display:inline-block;
	font-size:12px;
	margin-left:66px;
	margin-right:66px;
	}
.bottom_left{
	overflow:hidden;
	float:left;
	}
.bottom_right{
	float:left;
	}
.bottom{
	margin-top:50px;
	border-top:1px  solid #CCC; 
	}
.content_10{
	margin-top:35px;}
.li1{
	font-size:14px;
	margin-left:64px;}
.bottom_1{
	float:left;
	padding-left:30px;
	border-left: #999 1px solid;
	margin-top:30px;
	margin-left:50px;}
.bottom_1 ul{
	list-style:none;
	}
.bottom_1 ul li{
	margin-top:10px;
	font-size:14px;
	color:#666666;}
.bottom_2{
	
	float:left;
	margin-top:30px;
	margin-left:150px;}
.img6{
	float:left;}
.img7{
	padding-top:22px;
	padding-left:18px;
	float:left;}
.text9{
	font-size:16px;
	color:#333;
	font-weight:bold;
	}
.text10{
	margin-top:10px;
	font-size:12px;
	color:#999;
	}
.bottom_5{
	font-size:12px;
	color:#999;
	margin-top:65px;
	margin-left:310px;
	}
.bottom_6{
	margin-left:610px;
	margin-top:5px;}

.content{
	padding-left:100px;
	width:100%;
	
	border:1px;
	margin-left:0px;
	float:left;
	}
.content a{
	text-decoration:none;
	color:#333;
	
	
	font-size:16px;
	}
.content a:hover{
	color:#0089DC;
	border-bottom:2px solid #0089DC;}
	a{ text-decoration:none;}
	a:active{ text-decoration:underline;}
	
	.contenti1{
		height:40px;width:1020px;padding-top:20px;padding-left:110px;
		background:#FFF;
		}
		
	.contenti2{
		float:left;
		}
		
	.contenti3{
		float:left;margin-left:80px;
		}
	.contenti4{
		float:left;margin-left:80px;
		}
	.contenti5{
		margin-top:30px;
		background:#FFF;
		height:80px;width:800px;padding-top:20px;
		}
	.contenti6{
		float:left;margin-left:80px;
		}
	.contenti7{
		float:left;margin-left:90px;margin-top:20px;
		}
		
	.contenti8{
		float:left;margin-left:50px;margin-top:20px;
		}
	.gou1{
		height:120px;
		width:90px;
		padding-top:13px;}
	.gou2{
		padding-left:60px;
		width:100%;height:120px;
		background-image:url(../img/shop-bg.0391dd.jpg);
		float:left;
		}
	.gou3{
		float:left;
		margin-left:80px;
		margin-top:20px;}
	.gou4{float:left;margin-left:50px;margin-top:20px;}
	.gou5{float:left;width:900px;background-color:white;margin-top:20px;}
	.gou6{font-size:18px;width:100px;}
	.gou7{width:300px;float:left;margin-top:10px;padding-left:10px;}
	.gou8{float:left;}
	.gou9{height:60px;float:left;margin-left:20px;padding-top:10px; margin-left:20px; }
	.gou10{width:120px;float:left;margin-left:250px; margin-top:-15px;}
	.gou11{width:300px;float:left;margin-top:10px;padding-left:30px;margin-left:900px; border-left:1px solid #CCC;}
	.gou12{width:80px;height:60px;float:left;}
	.gou13{width:110px;height:60px;float:left;margin-left:20px;padding-top:30px;}
	.gou14{width:90px;height:60px;float:left;margin-left:250px;}
	.gou15{ font-size:12px; color:#999; margin-top:5px;}
	.gou16{
		color:#F00; font-size:14px; font-weight:bold;}
	.gou17{
		margin-top:5px;
		font-size:12px;
		color:#999;}
	.gou10 button{
		background:#0089DC;
		color:#FFF;
		border:1px;}