@charset "utf-8";
/* CSS Document */
body,ul,li,ol,h1,h2,h3,h4,h5,h6,p,img,a,table,tr,td,div{ margin:0; padding:0;}
.top{
	background:#0091EA;
	height:50px;
	width:100%;}
.top1{
	background:#3D4253;
	height:20px;
	width:100%;
	text-align:center;
	color:#999;
	}
.top2{
	float:left;}
.top3{
	float:left;}
.top4{
	margin-left:930px;
	float:left;
	width:108px;
	height:32px;
	text-align:center;
	margin-top:10px;
	color:#F44336;
	line-height:32px;
	background:#FFF;}
.top5{
	margin-top:10px;
	float:left;
	width:50px;
	font-size:15px;
	line-height:32px;
	height:32px;
	color:#F44336;
	background:#FFF;
	margin-left:15px;}